# ------------------------------
# Environment Layering
# ------------------------------
SHIORI_ENV=dev
NACOS_CONFIG_GROUP=SHIORI_DEV_DOCKER
NACOS_CONFIG_GROUP_LOCAL=SHIORI_DEV_LOCAL
NACOS_CONFIG_NAMESPACE=

# ------------------------------
# Infrastructure Credentials (Sensitive)
# ------------------------------
MYSQL_ROOT_PASSWORD=__CHANGE_ME__
MYSQL_OPS_PASSWORD=__CHANGE_ME__
USER_DB_PASSWORD=__CHANGE_ME__
PRODUCT_DB_PASSWORD=__CHANGE_ME__
ORDER_DB_PASSWORD=__CHANGE_ME__
NOTIFY_DB_PASSWORD=__CHANGE_ME__
RABBITMQ_DEFAULT_PASS=__CHANGE_ME__
ORDER_RMQ_PASSWORD=__CHANGE_ME__
USER_RMQ_PASSWORD=__CHANGE_ME__
NOTIFY_RMQ_PASSWORD=__CHANGE_ME__
MINIO_ROOT_PASSWORD=__CHANGE_ME__
MINIO_PRODUCT_SECRET_KEY=__CHANGE_ME__
NACOS_AUTH_TOKEN=__CHANGE_ME__
NACOS_IMPORT_PASSWORD=__CHANGE_ME__
NACOS_PASSWORD=__CHANGE_ME__
JWT_HMAC_SECRET=__CHANGE_ME__
NOTIFY_JWT_HMAC_SECRET=__CHANGE_ME__
GATEWAY_SIGN_SECRET=__CHANGE_ME__

# ------------------------------
# Infrastructure Non-sensitive
# ------------------------------
MYSQL_OPS_USERNAME=shiori_ops
RABBITMQ_DEFAULT_USER=rabbitmq_admin
ORDER_RMQ_USERNAME=order_service
USER_RMQ_USERNAME=user_service
NOTIFY_RMQ_USERNAME=notify_service
NOTIFY_DB_USERNAME=notify_service
NOTIFY_JWT_ISSUER=shiori
MINIO_ROOT_USER=minio_admin
MINIO_PRODUCT_BUCKET=shiori-product
MINIO_PRODUCT_ACCESS_KEY=product_service
NACOS_AUTH_IDENTITY_KEY=__CHANGE_ME__
NACOS_AUTH_IDENTITY_VALUE=__CHANGE_ME__
NACOS_IMPORT_USERNAME=nacos
NACOS_USERNAME=nacos
NACOS_ADDR=127.0.0.1:8848
NACOS_CONSOLE_PORT=18080
REDIS_HOST_PORT=6379
PROMETHEUS_HOST_PORT=9090
GRAFANA_HOST_PORT=3002
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# ------------------------------
# Nacos Template Variables (docker env)
# ------------------------------
USER_DB_URL_DOCKER=jdbc:mysql://mysql:3306/shiori_user?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
USER_DB_USERNAME=user_service

PRODUCT_DB_URL_DOCKER=jdbc:mysql://mysql:3306/shiori_product?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
PRODUCT_DB_USERNAME=product_service

ORDER_DB_URL_DOCKER=jdbc:mysql://mysql:3306/shiori_order?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
ORDER_DB_USERNAME=order_service

REDIS_HOST_DOCKER=redis
REDIS_PORT_DOCKER=6379
ORDER_RMQ_HOST_DOCKER=rabbitmq
ORDER_RMQ_PORT_DOCKER=5672
USER_RMQ_HOST_DOCKER=rabbitmq
USER_RMQ_PORT_DOCKER=5672
NOTIFY_DB_HOST_DOCKER=mysql
NOTIFY_DB_PORT_DOCKER=3306
NOTIFY_DB_NAME_DOCKER=shiori_notify
PRODUCT_OSS_ENDPOINT_DOCKER=http://minio:9000
ORDER_PRODUCT_SERVICE_BASE_URL_DOCKER=http://shiori-product-service

# ------------------------------
# Nacos Template Variables (local IDE debug)
# ------------------------------
USER_DB_URL_LOCAL=jdbc:mysql://127.0.0.1:3306/shiori_user?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
PRODUCT_DB_URL_LOCAL=jdbc:mysql://127.0.0.1:3306/shiori_product?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
ORDER_DB_URL_LOCAL=jdbc:mysql://127.0.0.1:3306/shiori_order?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false

REDIS_HOST_LOCAL=127.0.0.1
REDIS_PORT_LOCAL=6379
ORDER_RMQ_HOST_LOCAL=127.0.0.1
ORDER_RMQ_PORT_LOCAL=5672
USER_RMQ_HOST_LOCAL=127.0.0.1
USER_RMQ_PORT_LOCAL=5672
NOTIFY_DB_HOST_LOCAL=127.0.0.1
NOTIFY_DB_PORT_LOCAL=3306
NOTIFY_DB_NAME_LOCAL=shiori_notify
PRODUCT_OSS_ENDPOINT_LOCAL=http://127.0.0.1:9000
ORDER_PRODUCT_SERVICE_BASE_URL_LOCAL=http://shiori-product-service

# ------------------------------
# Compatibility Aliases (used by legacy scripts)
# ------------------------------
USER_DB_URL=jdbc:mysql://mysql:3306/shiori_user?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
PRODUCT_DB_URL=jdbc:mysql://mysql:3306/shiori_product?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
ORDER_DB_URL=jdbc:mysql://mysql:3306/shiori_order?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
