# ------------------------------
# Environment Layering
# ------------------------------
SHIORI_ENV=dev
NACOS_CONFIG_GROUP=SHIORI_DEV
NACOS_CONFIG_NAMESPACE=

# ------------------------------
# Infrastructure Credentials (Sensitive)
# ------------------------------
MYSQL_ROOT_PASSWORD=__CHANGE_ME__
MYSQL_PASSWORD=__CHANGE_ME__
RABBITMQ_DEFAULT_PASS=__CHANGE_ME__
MINIO_ROOT_PASSWORD=__CHANGE_ME__
NACOS_AUTH_TOKEN=__CHANGE_ME__
NACOS_IMPORT_PASSWORD=__CHANGE_ME__
JWT_HMAC_SECRET=__CHANGE_ME__
GATEWAY_SIGN_SECRET=__CHANGE_ME__
OSS_SECRET_KEY=__CHANGE_ME__

# ------------------------------
# Infrastructure Non-sensitive
# ------------------------------
MYSQL_DATABASE=shiori
MYSQL_USER=shiori
RABBITMQ_DEFAULT_USER=shiori
MINIO_ROOT_USER=shiori
MINIO_PRODUCT_BUCKET=shiori-product
NACOS_AUTH_IDENTITY_KEY=__CHANGE_ME__
NACOS_AUTH_IDENTITY_VALUE=__CHANGE_ME__
NACOS_IMPORT_USERNAME=nacos

# ------------------------------
# Nacos Template Variables
# ------------------------------
USER_DB_URL=jdbc:mysql://mysql:3306/shiori_user?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
USER_DB_USERNAME=shiori
USER_DB_PASSWORD=__CHANGE_ME__

PRODUCT_DB_URL=jdbc:mysql://mysql:3306/shiori_product?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
PRODUCT_DB_USERNAME=shiori
PRODUCT_DB_PASSWORD=__CHANGE_ME__

ORDER_DB_URL=jdbc:mysql://mysql:3306/shiori_order?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
ORDER_DB_USERNAME=shiori
ORDER_DB_PASSWORD=__CHANGE_ME__

ORDER_RMQ_USERNAME=shiori
ORDER_RMQ_PASSWORD=__CHANGE_ME__

OSS_ACCESS_KEY=shiori
