spring:
  datasource:
    url: ${PRODUCT_DB_URL}
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

storage:
  oss:
    enabled: true
    endpoint: http://minio:9000
    region: us-east-1
    bucket: shiori-product
    path-style-access: true
    presign-put-expire-seconds: 300
    presign-get-expire-seconds: 300
