spring:
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

security:
  auth:
    whitelist:
      - /actuator/health/**
      - /v3/api-docs/**
      - /swagger-ui/**
      - /swagger-ui.html
      - /api/user/auth/register
      - /api/user/auth/login
      - /api/user/auth/refresh
      - /api/user/auth/logout
    anonymous-get-paths:
      - /api/product/**
