spring:
  datasource:
    username: ${PAYMENT_DB_USERNAME}
    password: ${PAYMENT_DB_PASSWORD}
  rabbitmq:
    username: ${PAYMENT_RMQ_USERNAME}
    password: ${PAYMENT_RMQ_PASSWORD}

payment:
  internal-api:
    token: ${ORDER_PAYMENT_INTERNAL_TOKEN}
