spring:
  datasource:
    username: ${PRODUCT_DB_USERNAME}
    password: ${PRODUCT_DB_PASSWORD}
  rabbitmq:
    username: ${PRODUCT_RMQ_USERNAME}
    password: ${PRODUCT_RMQ_PASSWORD}

storage:
  oss:
    access-key: ${MINIO_PRODUCT_ACCESS_KEY}
    secret-key: ${MINIO_PRODUCT_SECRET_KEY}

chat:
  ticket:
    private-key-pem-base64: ${CHAT_TICKET_PRIVATE_KEY_PEM_BASE64}
