spring:
  datasource:
    url: ${PAYMENT_DB_URL}
  rabbitmq:
    host: ${PAYMENT_RMQ_HOST}
    port: ${PAYMENT_RMQ_PORT}
    virtual-host: /
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

payment:
  internal-api:
    require-token: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: never
